.main {
    margin: 20px 0;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input {
    padding: 5px 35px;
    outline: none;
    font-size: 16px;
    border: 1px solid #c8c8c8;
}
.btn {
    background: url("search.svg") no-repeat;
    background-size: 18px;
    background-position: center;
    padding: 15px;
    border: none;
    background-color: #8c8c8c;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
}
.btn_reload{
    background: url("reload.svg") no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    transform: rotateZ(0deg);
    transition: 500ms;
    display: flex;
    margin-left: auto;
    margin-top: -40px;
}
.btn_reload:hover{
    transform: rotateZ(180deg);
    transition: 500ms;
}

@media screen and (max-width: 900px) {
    .btn{
        display: none;
    }
}